SECRET_KEY=ENTER_YOUR_SECRET_KEY_FROM_SETTINGS_PY

DB_HOST_PGSQL=ENTER_YOUR_DB_HOST
DB_PORT_PGSQL=ENTER_YOUR_DB_PORT
DB_NAME_PGSQL=ENTER_YOUR_DB_NAME
DB_USER_PGSQL=ENTER_YOUR_DB_LOGIN
DB_PASS_PGSQL=ENTER_YOUR_DB_PASSWORD
