{% extends 'base.html' %}

{% block title_name %}Каталог{% endblock %}

{% block content %}
<a href="{% url 'clothes_create' %}">Добавь одежду</a>

<section class="categories">
    <h2>Доступная одежда</h2>
    <div class="grid">
        {% for clothe in clothes %}
        <div class="card">
            <div class="card-img" style="background: url('{{ clothe.photo.url }}') center/cover;"></div>
            <div class="card-info">
                <h3>{{ clothe.name }}</h3>
                <a href="{% url 'clothes_detail' clothe.pk %}" style="color: #d9534f; font-weight: bold;">Смотреть &rarr;</a>
            </div>
        </div>
        {% empty %}
        <div class="card">
            <div class="card-info">
                <h3>Одежды нет</h3>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}