{% extends 'base.html' %}

{% block title_name %}{% if form.instance.pk %}Редактирование одежды{% else %}Добавление новой одежды{% endif %}{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 2rem;">
    <h1>{% if form.instance.pk %}Редактирование одежды{% else %}Добавление новой одежды{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'catalogue' %}" style="color: blue;">Вернуться назад</a>
</div>
{% endblock %}