{% extends 'base.html' %}

{% block title_name %}{{ clothe.name }}{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 2rem;">
    <img src="{{ clothe.photo.url }}" alt="{{ clothe.name }}" style="max-height: 250px; max-width: 250px;"/>
    <h1>{{ clothe.name }}</h1>
    <p>Описание: {{ clothe.description }}</p>
    <p>Цена: {{ clothe.price }}руб.</p>
    <p>Размер: {{ clothe.size }}</p>
    <p>Цвет: {{ clothe.color }}</p>
    <p>Категория: {{ clothe.category }}</p>
    <p>Коллекции: {% for collection in clothe.collection.all %} {{ collection.name }} {% if not forloop.last %}, {% else %}. {% endif %}{% endfor %}</p>
    <p>Доступность: {% if clothe.is_exists %}Да{% else %}Нет{% endif %}</p>

    <a href="{% url 'clothes_update' clothe.pk %}" style="color: green;">Редактировать</a>
    <a href="{% url 'clothes_delete' clothe.pk %}" style="color: red;">Удалить</a>
    <a href="{% url 'catalogue' %}" style="color: blue;">Вернуться назад</a>
</div>
{% endblock %}